In [ ]:
Nikunj Deep Upadhyay
25070123081
Entc b1

In [ ]:
thisset={"apple","banana","cherry", True,1,2}
print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [ ]:
THISSET={"apple","banana","cherry"}
print("banana" in THISSET)
print("apple" in THISSET)
print("grapes" in THISSET)
THISSET.add("orange")
THISSET.add(1)
THISSET.remove("banana")
print(THISSET)

True
True
False
{1, 'orange', 'apple', 'cherry'}

In [ ]:
#SET OPERATIONS
A={1,2,3,4}
B={3,4,5,6}
print("Union:")

In [ ]:
# frozenset
x=frozenset({"apple","banana","cherry"})
print(x)

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
LIST1=["AKRAM","SHAAD","MEHUL","YOUNUS","RAYYAN","MEHUL"]
y=set(LIST1)
print(y)

{'RAYYAN', 'MEHUL', 'YOUNUS', 'AKRAM', 'SHAAD'}

In [ ]:
SHAAD={"mathematics","english","physics"}
RAYYAN={"mathematics","hindi","chemistry"}
BASHAR={" economics","accountancy","mathematics"}
t=SHAAD & RAYYAN & BASHAR
print(t)

{'mathematics'}

In [ ]:
cr={"pushkar","aarav","rayyan"}
ft={"rayyan","akhil","samad"}
s=cr-ft
g=ft-cr
print(s)
print(g)

{'pushkar', 'aarav'}
{'samad', 'akhil'}

In [ ]:
ALL_STUDENTS={"TAQI","HASAN","RAYYAN","SHAAD"}
PRESENT_STUDENTS={"SHAAD","TAQI"}
ABSENT_STUDENTS=ALL_STUDENTS-PRESENT_STUDENTS
print(ABSENT_STUDENTS)

{'RAYYAN', 'HASAN'}

In [ ]:
courses={"etc101","etc102","etc103"}
courses.discard("etc102")
print("updated courses:",courses)

updated courses: {'etc101', 'etc103'}